---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "About Me";

const identity = {
  firstName: "Noah",
  lastName: "Be",
  position: "Software Engineer",
  country: "Germany",
  hobbies: ["Coding & building fun projects", "Crossfit"],
  skills: ["Java", "Typescript", "JavaScript", "C++", "React", "SQL"],
};
---

<style>
  .skill {
    color: navy;
  }
</style>
<BaseLayout>
  <h1>{pageTitle}</h1>
  <p>My name is {identity.firstName}.</p>
  <p>I work as a {identity.position} in {identity.country}.</p>
  {
    identity.hobbies.length >= 2 && (
      <p>
        Two of my main hobbies are: {identity.hobbies[0]} as well as
        {identity.hobbies[1]}.
      </p>
    )
  }
  <p>Skills:</p>
  <ul>
    {identity.skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  <ul></ul>
  <h2>... and my new astro site!</h2>
  <p>
    I am doing this blog in order to learn astro but also talk a little about me
    as well as the programming language I am developing.
  </p>
</BaseLayout>
